.editorWrapper {
  display: flex;
}

.editorWrapper .left, .editorWrapper .right {
  flex-grow: 1;
}


.mdEditor {
  width: 1px;
  height: 100vh;
  overflow-y: scroll;
  resize: none;
  padding: 0 5px;
  margin-bottom: -20px;
  border: 0;
  float: left;
  -webkit-appearance: none;
  outline: 0px !important;
}

.liveView {
  overflow-y: auto;
  width: 1px;
  height: 100vh;
  padding: 0 5px;
  margin-bottom: -20px;
  border: 0;
  float: left
}